<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Recipe form')}"></head>

<body>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <form th:object="${recipe}" th:action="@{/recipe/}" method="post">

                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        Please correct the errors
                    </div>

                    <input type="hidden" th:field="*{id}"/>
                    <div>
                        <div class="card border-primary">
                            <div class="card-header bg-primary text-white">
                                <h1 class="card-title">Edit Recipe Information</h1>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <!--@Important error messages -->
                                    <div class="col-lg-3 form-group">
                                        <label>Recipe Description:</label>
                                        <input type="text" class="form-control" th:field="*{description}" th:errorClass="border-danger"/>
                                        <span class="form-text" th:if="${#fields.hasErrors('description')}">
                                            <ul>
                                                <li class="text-danger" th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-lg-3">
                                        <label>Categories:</label>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="radio">
                                            <label>
                                                <input type="checkbox" value=""/>
                                                Cat 1
                                            </label>
                                        </div>
                                        <div class="radio" th:remove="all">
                                            <label>
                                                <input type="checkbox" value=""/>
                                                Cat 2
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <!-- PREP TIME -->
                                    <div class="col-lg-3">
                                        <label>Prep Time:</label>
                                        <input type="text" class="form-control" th:field="*{prepTime}" th:errorClass="border-danger"/>
                                        <span class="form-text" th:if="${#fields.hasErrors('prepTime')}">
                                            <ul>
                                                <li class="text-danger" th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <!-- COOK TIME -->
                                    <div class="col-lg-3">
                                        <label>Cooktime:</label>
                                        <input type="text" class="form-control" th:field="*{cookTime}" th:errorClass="border-danger"/>
                                        <span class="form-text" th:if="${#fields.hasErrors('cookTime')}">
                                            <ul>
                                                <li class="text-danger" th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Difficulty:</label>
                                        <!--/*@thymesVar id="difficulty" type="com.resolutech.recipe.domain.Difficulty"*/-->
                                        <select class="form-control" th:field="*{difficulty}">
                                            <option th:each="difficulty : ${T(com.resolutech.recipe.domain.Difficulty).values()}"
                                                th:text="${difficulty.name()}"
                                                th:value="${difficulty.name()}">Easy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <!-- SERVINGS -->
                                    <div class="col-lg-3">
                                         <label>Servings:</label>
                                        <input type="text" class="form-control" th:field="*{servings}" th:errorClass="border-danger"/>
                                        <span class="form-text" th:if="${#fields.hasErrors('servings')}">
                                            <ul>
                                                <li class="text-danger" th:each="err : ${#fields.errors('servings')}" th:text="${err}"></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Source:</label>
                                        <input type="text" class="form-control" th:field="*{source}"/>
                                    </div>
                                    <!-- URL -->
                                    <div class="col-lg-3">
                                        <label>URL:</label>
                                        <input type="text" class="form-control" th:field="*{url}" th:errorClass="border-danger"/>
                                        <span class="form-text" th:if="${#fields.hasErrors('url')}">
                                            <ul>
                                                <li class="text-danger" th:each="err : ${#fields.errors('url')}" th:text="${err}"></li>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-primary">
                            <!-- INGREDIENTS -->
                            <div class="card-header bg-primary text-white">
                                <div class="row form-group">
                                    <div class="col-lg-12 ">
                                        <h1 class="card-title">Ingredients</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-lg-11">
                                        <ul>
                                            <li th:remove="all">1 Cup of milk</li>
                                            <li th:remove="all">1 Teaspoon of chocolate</li>
                                            <li th:each="ingredient : ${recipe.ingredients}"
                                                th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.uom.getDescription() +
                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-primary">
                            <!-- DIRECTIONS -->
                            <div class="card-header bg-primary text-white">
                                <h1 class="card-title">Directions</h1>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-lg-12">
                                        <textarea class="form-control" rows="3" th:field="*{directions}" th:errorClass="border-danger"></textarea>
                                    </div>
                                    <span class="form-text" th:if="${#fields.hasErrors('directions')}">
                                        <ul>
                                            <li class="text-danger" th:each="err : ${#fields.errors('directions')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card border-primary">
                            <!-- NOTES -->
                            <div class="card-header bg-primary text-white">
                                <h1 class="card-title">Notes</h1>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-lg-12">
                                        <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>