<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Recipe')}"></head>

<body>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div>
                    <div class="card border-primary">
                        <div class="card-header bg-primary text-white">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h1 class="card-title" th:text="${recipe.description}">Recipe Description Here!</h1>
                                </div>
                                <div class="col-lg-3">
                                    <form method="post" class="d-inline-flex p-2" enctype="multipart/form-data"
                                          th:action="@{'/recipe/' + ${recipe.getId()} + '/image'}">
                                        <label th:for="imagefile" class="btn btn-secondary mb-0 mr-1">Change Image</label>
                                        <input th:id="imagefile" name="imagefile" type="file" class="d-none">
                                        <button type="submit" class="btn btn-secondary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-md-2">
                                    <h5>Categories:</h5>
                                </div>
                                <div class="col-md-2">
                                    <ul>
                                        <!--/*@thymesVar id="categorie" type="com.resolutech.recipe.domain.Category"*/-->
                                        <li th:remove="all">cat One</li>
                                        <li th:remove="all">cat Two</li>
                                        <li th:each="category : ${recipe.categories}" th:text="${category.description}">cat Three</li>
                                    </ul>
                                </div>
                                <div class="col-md-5">
                                    <img src="../../static/images/guacamole400x400WithX.jpg"
                                         th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}"
                                         width="200" height="auto">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Prep Time:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.prepTime + ' Min'}">30 min</p>
                                </div>
                                <div class="col-md-3">
                                    <h5>Difficulty:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.difficulty}">Easy</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Cooktime:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.cookTime + ' Min'}">30 min</p>
                                </div>
                                <div class="col-md-3">
                                    <h5>Servings:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.servings}">4</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Source:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.source}">30 min</p>
                                </div>
                                <div class="col-md-3">
                                    <h5>URL:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.url}">http://www.example.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-primary">
                        <div class="card-header bg-primary text-white">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h1 class="card-title">Ingredients</h1>
                                </div>
                                <div class="col-lg-1">
                                    <a class="btn btn-secondary" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <!--/*@thymesVar id="ingredient" type="com.resolutech.recipe.domain.Ingredient"*/-->
                                        <li th:each="ingredient : ${recipe.ingredients}">
                                            <span th:text="${ingredient.amount}"></span><span> - </span>
                                            <span th:text="${ingredient.uom.description}"></span>
                                            <span th:text="${ingredient.description}"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-primary">
                        <div class="card-header bg-primary text-white">
                            <h1 class="card-title" >Directions</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p th:text="${recipe.directions}">Directions</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-primary">
                        <div class="card-header bg-primary text-white">
                            <h1 class="card-title" >Notes</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p th:if="${recipe.notes != null}" th:text="${recipe.notes.recipeNotes}">Notes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>