<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Ingredient</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            crossorigin="anonymous" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            crossorigin="anonymous" integrity="sha256-6CdFDnYGDh6FNviEF99A9WFKx6g6dCRjWdDQX/roE4k="
            th:src="@{/webjars/popper.js/popper.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            crossorigin="anonymous" integrity=""
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <form  th:object="${ingredient}" th:action="@{'/recipe/' + ${ingredient.getRecipeId()} + '/ingredient'} " method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div>
                        <div class="card border-primary">
                            <div class="card-header bg-primary text-white">
                                <h1 class="card-title">Edit Ingredient Information</h1>
                            </div>
                            <div class="card-body">


                                <div class="row">
                                    <div class="col-lg-3 form-group">
                                        <label>Description:</label>
                                        <input type="text" class="form-control" th:field="*{description}"/>
                                    </div>

                                    <div class="col-lg-3 form-group">
                                        <label>Amount:</label>
                                        <input type="number" class="form-control" th:field="*{amount}"/>
                                    </div>

                                    <div class="col-lg-3 form-group">
                                        <label>UOM:</label>
                                        <select class="form-control" name="uom.id">
                                            <option th:each="uomEach : ${uomList}"
                                                    th:value="${uomEach.id}"
                                                    th:selected="${uomEach.id.equals(ingredient.uom.id)}"
                                                    th:text="${uomEach.description}">Each</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>