<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Ingredient form')}"></head>

<body>

    <div class="container-fluid" style="margin-top: 20px">
        <!--/*@thymesVar id="ingredient" type="com.resolutech.recipe.commands.IngredientCommand"*/-->
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <form  th:object="${ingredient}" th:action="@{'/recipe/' + ${ingredient.getRecipeId()} + '/ingredient'} " method="post">

                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        Please correct the errors
                    </div>

                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{recipeId}"/>
                    <div>
                        <div class="card border-primary">
                            <div class="card-header bg-primary text-white">
                                <h1 class="card-title">Edit Ingredient Information</h1>
                            </div>
                            <div class="card-body">


                                <div class="row">
                                    <div class="col-lg-3 form-group">
                                        <label>Description:</label>
                                        <input type="text" class="form-control" th:field="*{description}" th:errorClass="border-danger"/>
                                        <span class="form-text" th:if="${#fields.hasErrors('description')}">
                                            <ul>
                                                <li class="text-danger" th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                                            </ul>
                                        </span>
                                    </div>

                                    <div class="col-lg-3 form-group">
                                        <label>Amount:</label>
                                        <input type="number" name="amount" step="0.5" class="form-control" th:field="*{amount}" th:errorClass="border-danger"/>
                                        <span class="form-text" th:if="${#fields.hasErrors('description')}">
                                            <ul>
                                                <li class="text-danger" th:each="err : ${#fields.errors('amount')}" th:text="${err}"></li>
                                            </ul>
                                        </span>
                                    </div>

                                    <div class="col-lg-3 form-group">
                                        <label>UOM:</label>
                                        <select class="form-control" name="uom.id">
                                            <option th:each="uomEach : ${uomList}"
                                                    th:value="${uomEach.id}"
                                                    th:selected="${uomEach.id.equals(ingredient.uom.id)}"
                                                    th:text="${uomEach.description}">Each</option>
                                        </select>
                                        <span class="form-text" th:if="${#fields.hasErrors('uom')}">
                                            <ul>
                                                <li class="text-danger" th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>