<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Ingredient')}"></head>

<body>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="card border-primary">

                    <div class="card-header bg-danger text-white">
                        <h1 class="card-title">404 Not Found</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>