<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Ingredient')}"></head>

<body>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <!--/*@thymesVar id="customMsg" type="java.lang.String"*/-->
                <div class="card border-danger">

                    <div class="card-header bg-danger text-white">
                        <h1 class="card-title" th:text="${customMsg}"></h1>
                    </div>
                    <div class="card-body">
                        <!--/*@thymesVar id="exception" type="java.lang.Exception"*/-->
                        <div class="text-danger" th:text="${exception.message}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>